body {
    background-color: whitesmoke;
}
    .imginicio{
        width: auto;
        height: auto;
    }
    .textosobremi {
        font-size:30px;
    }
    /* Este código hace un efecto que agranda la imagen cuando te posicionas encima de la misma*/
    /* Lo saqué de esta página: https://comohacerunapagina.es/crear-zoom-en-imagenes-con-css-al-pasar-el-raton-hover-en-wordpress/ */
    .zoom {
        transition: transform .2s; 
    }
    .zoom:hover {
        transform: scale(1.1);
    }

    h3 {
        background-color: gainsboro;
    }
    /* Este es el código del boton, quería que quedara lo más bonito posible y lo saqué de aquí:https://javifont.medium.com/gu%C3%ADa-r%C3%A1pida-para-estilos-css-en-botones-4eaca81ad32a */
    
    .botonestudios {
            text-decoration:none;
            font-weight: 600;
            font-size: 20px;
            color:#ffffff;
            padding-top:15px;
            padding-bottom:15px;
            padding-left:40px;
            padding-right:40px;
            background-color:#f2595e;
            border-color: #F69DA1;
            border-width: 3px;
            border-style: solid;
            }
    .botonestudios:hover {
        background-color: darkred;
        color:white;
        text-decoration: none;
    }

    /*Aquí hago que los iconos se vean más grises y al pasar por encima vuelva el color.*/

    .icono {
        filter: opacity(40%) grayscale(100%);
        width: 100px;
        height: 100px;
    }
    .icono:hover{
    filter: opacity(100%);
    }